<head>
    <title>EasyCRM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='customBootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<div class="container text-light bg-dark p-5 rounded">
    <h1 class="display-1 text-danger">403</h1>
    <h2 class="h3">Forbidden</h2>
    <p>You do not have permission to access this page.</p>
</div>