<head>
    <title>EasyCRM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='customBootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<div class="container text-light bg-dark p-5 rounded">
    <h1 class="display-1 text-warning">404</h1>
    <h2 class="h3">Not Found</h2>
    <p>The page you are looking for could not be found.</p>
</div>