{% extends "index.html"%}

{% block mainContent %}
<h2>Kontaktin tiedot</h2>
{% include 'backbutton.html'%}
<p>{{contact.firstName}}</p>
<p>{{contact.lastName}}</p>
<p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
<p><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
<a href="{{url_for('upsertCompanyContact', companyId=contact.companyId, contactId=contact.id)}}" class="btn btn-dark">
    Päivitä kontaktia
</a>
<form action="{{ url_for('deleteContact', companyId=contact.companyId, contactId=contact.id) }}" method="POST"
    onsubmit="return confirmDelete()" class="d-inline">
    <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}">
    <button type="submit" class="btn btn-dark">Poista kontakti</button>
</form>
<script>
    function confirmDelete() {
        return confirm("Haluatko varmasti poistaa kontaktin?");
    }
</script>
{% endblock %}