{% extends "index.html"%}
{% block mainContent %}
<h2>Kaikki yritykset</h2>
<a href="{{url_for('upsertCompany')}}" class="btn btn-dark mb-2 w-100">Luo uusi yritys</a>
<form class="mt-2" action="" method="get" id="searchForm">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Etsi yrityksen nimellä" id="searchInput" name="search"
            value="{{ request.args.get('search', '') }}">
        <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}">
        <button class="btn btn-dark" type="submit">Hae</button>
    </div>
</form>
<ul class="list-group">
    {% for company in companies %}
    {% if not loop.last or companies|length < 11 %} <li class="list-group-item">
        <h3>{{ company.companyName }}</h3>
        <p>Y-tunnus: {{ company.businessId }}</p>
        <a href=" {{url_for('company', companyId=company.id)}}" class="btn btn-dark">Tarkastele yritystä</a>
        <a href="{{url_for('upsertCompany', companyId=company.id)}}" class="btn btn-dark">Päivitä yritystä</a>
        <form action="{{ url_for('deleteCompany', companyId=company.id) }}" method="POST"
            onsubmit="return confirmDelete()" class="d-inline">
            <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}">
            <button type="submit" class="btn btn-dark">Poista yritys</button>
        </form>
        <script>
            function confirmDelete() {
                return confirm("Haluatko varmasti poistaa yrityksen?");
            }
        </script>
        </li>
        {% endif %}
        {% else %}
        {% if request.args.get('search') %}
        <p>Yrityksiä ei löytynyt hakuehdoilla.</p>
        {% else %}
        <p>Et ole vielä luonut yhtään yritystä.</p>
        {% endif %}
        {% endfor %}
</ul>
{% if companies|length > 10 %} <button id="showMoreBtn" class="btn btn-dark mt-2 w-100" onclick="goForward()">
    Näytä seuraava sivu</button>
{% endif %}
{% if request.args.get('showOffset', 0)|int > 0 %} <button id="goBackBtn" class="btn btn-dark mt-2 w-100"
    onclick="goBack()">Palaa takaisin</button>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const companiesLength = {{ companies| length
    }};
    const showOffset = {{ request.args.get('showOffset', 0) | int }};

    if (companiesLength === 0 && showOffset > 0) {
        goBack();
    }
    });
    function goForward() {
        const url = new URL(window.location.href);
        url.searchParams.set('showOffset', {{ request.args.get('showOffset', 0) | int }} + 10);
    window.location.href = url.toString();
    }
    function goBack() {
        const url = new URL(window.location.href);
        url.searchParams.set('showOffset', {{ request.args.get('showOffset', 0) | int }} - 10);
    window.location.href = url.toString();
    }
</script>
{% endblock %}

{% include 'reloadonback.html' %}