{% extends "index.html"%}
{% block mainContent %}
<h2>Kaikki kontaktit</h2>
<form class="mt-2" action="" method="get" id="searchForm">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Etsi nimellä" id="searchInput" name="search"
            value="{{ request.args.get('search', '') }}">
        <button class="btn btn-dark" type="submit">Hae</button>
    </div>
</form>
<ul class="list-group">
    {% for contact in contacts %}
    {% if not loop.last or contacts|length == 1 %}
    <li class="list-group-item">
        <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>
        <p>Yritys: {{ contact.companyName }}</p>
        <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <p><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
        <a href=" {{url_for('companyContact', companyId=contact.companyId, contactId=contact.id)}}"
            class="btn btn-dark">Tarkastele kontaktia</a>
        <a href="{{url_for('upsertCompanyContact', companyId=contact.companyId, contactId=contact.id)}}"
            class="btn btn-dark">Päivitä kontaktia</a>
        <form action="{{ url_for('deleteContact', companyId=contact.companyId, contactId=contact.id) }}" method="POST"
            onsubmit="return confirmDelete()" class="d-inline">
            <button type="submit" class="btn btn-dark">Poista kontakti</button>
        </form>
        <script>
            function confirmDelete() {
                return confirm("Haluatko varmasti poistaa yrityksen?");
            }
        </script>
    </li>
    {% endif %}
    {% else %}
    {% if request.args.get('search') %}
    <p>Kontakteja ei löytynyt hakuehdoilla.</p>
    {% else %}
    <p>Et ole vielä luonut yhtään kontaktia.</p>
    {% endif %}
    {% endfor %}
</ul>

{% if contacts|length > 10 %} <button id="showMoreBtn" class="btn btn-dark mt-2 w-100" onclick="goForward()">
    Näytä seuraava sivu</button>
{% endif %}
{% if request.args.get('showOffset', 0)|int > 0 %} <button id="goBackBtn" class="btn btn-dark mt-2 w-100"
    onclick="goBack()">Palaa takaisin</button>
{% endif %}

<script>
    function goForward() {
        const url = new URL(window.location.href);
        url.searchParams.set('showOffset', {{ request.args.get('showOffset', 0) | int }} + 10);
    window.location.href = url.toString();
    }
    function goBack() {
        const url = new URL(window.location.href);
        url.searchParams.set('showOffset', {{ request.args.get('showOffset', 0) | int }} - 10);
    window.location.href = url.toString();
    }
</script>
{% endblock %}

{% include 'reloadonback.html' %}