<!-- Page template from https://getbootstrap.com/docs/4.0/examples/cover/ -->

<html>

<head>
    <title>EasyCRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='customBootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body class="">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead">
            <div class="inner">
                <a href="/">
                    <h3 class="masthead-brand">EasyCRM</h3>
                </a>
                <nav class="nav nav-masthead justify-content-center">
                    {% if session.userId %}
                    <a class="nav-link {{ isActive('companies') }}" href="{{url_for('companies')}}">Yritykset</a>
                    <a class="nav-link {{ isActive('contacts') }}" href="{{url_for('contacts')}}">Kontaktit</a>
                    <a class="nav-link {{ isActive('userManager') }}" href="{{url_for('userManager')}}">
                        Käyttäjävalikko
                    </a>
                    {% else %}
                    <a class="nav-link {{ isActive('login') }}" href="{{url_for('login')}}">Kirjaudu</a>
                    <a class="nav-link {{ isActive('register') }}" href="{{url_for('register')}}">Rekisteröidy</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            {% block mainContent %}
            <div class="text-center">
                <h2>Hei {{session.username}}!</h2>
                <p>Tässä lyhyt video sovelluksen ominaisuuksista.</p>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                <p>
                    Ongelmatilanteissa voit olla yhteydessä
                    <br>
                    <a href="mailto:markus.wahlman@helsinki.fi">
                        markus.wahlman@helsinki.fi
                    </a>
                </p>
            </div>
            {% endblock %}
        </main>
    </div>
</body>

</html>