{% extends "index.html"%}

{% block mainContent %}
<h2>{{'Päivitä yritystä' if id else 'Luo uusi yritys'}}</h2>
{% include 'backbutton.html' %}
<form action="{{url_for('upsertCompany', id=id)}}" method="post">
    <div class="form-group">
        <label>Yrityksen nimi:</label>
        <input class="form-control" type="text" name="companyName" value="{{ company.companyName }}" required>
    </div>
    <div class="form-group">
        <label>Y-tunnus:</label>
        <input class="form-control" type=" text" name="businessId" value="{{ company.businessId }}" maxlength="9">
    </div>
    <div class="form-group">
        <label>Muistiinpanot:</label>
        <textarea class="form-control" type="text" name="notes" value="">{{ company.notes }}</textarea>
    </div>
    <div class="form-group">
        <label>Verkkosivu:</label>
        <input class="form-control" type="text" name="websiteUrl" value="{{ company.websiteUrl }}">
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="text" name="email" value="{{ company.email }}">
    </div>
    <div class="form-group">
        <label>Puhelinnumero:</label>
        <input class="form-control" type="text" name="phone" value="{{ company.phone }}">
    </div>
    <div class="form-group">
        <label>Osoite:</label>
        <input class="form-control" type="text" name="address" value="{{ company.address }}">
    </div>
    <button class="btn btn-dark" type="submit">{{'Päivitä' if id else 'Tallenna'}}</button>
</form>

{{ errorMessage | safe }}
{% endblock %}