<h1>{{'Päivitä kontaktia' if contactId else 'Luo uusi kontakti'}}</h1>

<form action="/company/{{ companyId }}/contact/{{ 'edit/' + (contactId | string) if id else 'create' }}" method="post">
    <p>Etunimi:</p>
    <input type="text" name="firstName" value="{{ contact.firstName }}" required>
    <p>Sukunimi:</p>
    <input type=" text" name="lastName" value="{{ contact.lastName }}" maxlength="9">
    <p>Email:</p>
    <input type="text" name="email" value="{{ contact.email }}">
    <p>Puhelinnumero:</p>
    <input type="text" name="phone" value="{{ contact.phone }}">
    <br>
    <input type="submit" value="{{'Päivitä' if companyId else 'Tallenna'}}">
    <input type="hidden" name="id" value="{{ contactId if contactId else -1 }}">
</form>

{{ errorMessage | safe }}